* {
  box-sizing: border-box; }

h1, h2, h3 {
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 3rem; }
  @media (min-width: 450px) {
    h1 {
      font-size: 3rem; } }

h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2.25rem; }
  @media (min-width: 450px) {
    h2 {
      font-size: 2.25rem; } }

h3 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.10rem; }

h4 {
  font-weight: bold;
  font-size: 1rem; }

a, a:visited {
  color: #4EB2F9; }
  a:hover, a:visited:hover {
    color: #333;
    cursor: pointer; }

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: #333;
  max-width: 800px; }

button,
.button {
  border: 2px #4EB2F9 solid;
  border-radius: 6px;
  padding: 23px;
  background: transparent;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1rem; }
  button:hover, button:active, button.active,
  .button:hover,
  .button:active,
  .button.active {
    cursor: pointer;
    background: #4EB2F9;
    color: #fff; }

fieldset {
  border: none;
  width: 100%;
  max-width: 500px; }

input,
select,
textarea {
  border: 2px #4EB2F9 solid;
  border-radius: 6px;
  padding: 23px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 1rem;
  width: 100%; }

.hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px; }
  .hidden *:before,
  .hidden *:after {
    display: none; }

body {
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #333; }

header, section, footer {
  width: 100%;
  position: relative; }

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 30px; }
  .container#title {
    padding-top: 100px; }
  .container .section {
    padding: 10px 0; }
  .container .subsection {
    padding: 10px 0; }

@media (min-width: 768px) {
  .container {
    margin-left: 230px;
    padding: 30px 0; }
    .container#title {
      padding-top: 10px; } }

ul {
  margin-top: 5px;
  padding-left: 18px;
  list-style: none; }
  ul li {
    margin-bottom: 0.5rem; }
  ul li::before {
    display: inline-block;
    content: "\2022";
    color: #C3DAF5;
    width: 1rem;
    margin-left: -1rem; }

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 0 10px 0; }

.nav {
  padding: 30px;
  position: fixed;
  width: 100%;
  background: #EFF1F6; }
  .nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav ul li {
      display: inline-block;
      margin-left: 0;
      padding: 0 30px 0 0;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.10rem; }
      .nav ul li a {
        text-decoration: none; }
  .nav .footer {
    display: inline-block;
    text-align: right; }
    .nav .footer .update {
      display: none; }
    .nav .footer .logo {
      display: none; }

@media (min-width: 768px) {
  .nav {
    background: #EFF1F6;
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding: 20px; }
    .nav ul {
      display: block; }
      .nav ul li {
        margin: 0 0 10px 0;
        padding-right: 0;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.10rem; }
    .nav .footer {
      display: block;
      position: absolute;
      bottom: 20px;
      text-align: left; }
      .nav .footer .update {
        display: block;
        font-size: 0.75rem; }
      .nav .footer .logo {
        display: block;
        background: url("../images/goinvo_logo.svg") no-repeat;
        background-size: contain;
        width: 80px;
        height: 40px; } }

.label {
  padding: 3px 7px; }
  .label.human {
    background: #FFD0AE; }
  .label.data {
    background: #C3F5E9; }
  .label.practical {
    background: #C3DAF5; }

.labels {
  margin-bottom: 40px;
  font-size: 0.75rem; }
  .labels .label {
    display: inline;
    margin-right: 30px; }

footer {
  display: block;
  text-align: left;
  background: #EFF1F6;
  padding: 30px; }
  footer .logo {
    background: url("../images/goinvo_logo.svg") no-repeat;
    background-size: contain;
    width: 80px;
    height: 40px; }
  footer .update {
    font-size: 0.75rem; }

@media (min-width: 768px) {
  footer {
    display: none; } }
