body {
	margin: 0;
	font-family: $font-default;
	color: $c-text;
}

header, section, footer {
	width: 100%;
	position: relative;
}

.container {
	max-width: 980px;
  margin: 0 auto;
  padding: 30px;
  &#title {
    padding-top: 100px;
  }
}
@media (min-width: 768px) {
  .container {
    margin-left: 230px;
    padding: 30px 0;
  }
}

img {
  display: block;
  width:100%;
  height: auto;
  margin: 20px 0 10px 0;
}

.nav {
  padding: 30px;
  position: fixed;
  width: 100%;
  background: $bg-blue;
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 0;
      padding: 0 30px 0 0;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.10rem;
      a {
        text-decoration: none;
      }
    }
  }
  .footer {
    display: inline-block;
    text-align: right;
    .update {
      display: none;
    }
    .logo {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .nav {
    background: $bg-blue;
    width: 200px;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    ul {
      display: block;
      li {
        margin-left: 0;
        padding-right: 0;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.10rem;
      }
    }
    .footer {
      display: block;
      position: absolute;
      bottom: 20px;
      text-align: left;
      .update {
        display: block;
        font-size: $font-sz-sm;
      }
      .logo {
        display: block;
        background: url('../images/goinvo_logo.svg') no-repeat;
        background-size: contain;
        width: 80px;
        height: 40px;
      }
    }
  }
}

.label {
  padding: 3px 7px;
  &.human {
    background: $coral;
  }
  &.data {
    background: $mint;
  }
  &.practical {
    background: $light-blue;
  }
}
.labels {
  margin-bottom: 40px;
  font-size: $font-sz-sm;
  .label {
    display: inline;
    margin-right: 30px;
  }
}

footer {
  display: block;
  text-align: left;
  background: $bg-blue;
  padding: 30px;
  .logo {
    background: url('../images/goinvo_logo.svg') no-repeat;
    background-size: contain;
    width: 80px;
    height: 40px;
  }
  .update {
    font-size: $font-sz-sm;
  }
}

@media (min-width: 768px) {
  footer {display: none;}
}
